.imageContainer {
  flex-direction: column;
  display: flex;
  position: relative;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

.textContainer p {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0 10px;
}
